@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Kanit", sans-serif;
    color: #445361;
    text-align: center;
}

/* Heading and logo */

.heading {
    text-align: center;
    font-size: 2.5rem;
    font-size: 40px;
    color: #000000;
    padding-top: 20px;
}

/* Instructions */

h2 {
    color: red;
    margin: 5px;
    text-align: center;
    padding-top: 30px;
    font-size: 135%;
}

p {
    text-align: justify;
    margin-left: 1%;
    margin-right: 1%;
    padding: 30px;
    color: black;
}

/* Start Button */

input[type=button] {
    background-color: #FF883E;
    border: none;
    color: #fff;
    padding: 15px 100px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 4px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

input:hover {
    opacity: 0.5;
}

/* Game Container */

#main {
    background-color: #efca89;
    border: 5px solid black;
    background-size: cover;
    min-height: 360px;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Score Area */

#score_area1 {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;  
    margin-top: -40px;
}

#score_area {
    margin: 5px auto;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

#won {
    color: green;
    font-weight: bold;
}

#lost {
    color: orange;
    font-weight: bold;
}

/* Timer */

#timer {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Board Game area */

#board {
    padding: 0px 0px;
    align-items: center;
}

.flag {
    background: url("../images/Ireland1.png");
    background-size: cover;
    width: 30%;
    height: 120px;
    margin-left: 2.33%;
    margin-top: 2%;
    float: left;
    display: none;
    padding: 10px;
}

.flag:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.wrong-flag {
    background: url("../images/Ireland.png");
    background-size: cover;
}

/* Code to style the final score message */

p.final-result {
    font-size: 40px;
    text-align: center;
    padding: 100px 0;
    color: black;
}

/* Code to show and hide the elements */

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* media queries */

/* for big screens up to 1090px */

@media screen and (max-width:1090px) {

    .flag {
        width: 40%;
        height: 85px;
        margin-left: 6.66%;
        margin-top: 2%;
    }

}

/* for big screens up to 600px */

@media screen and (max-width:600px) {

    .flag {
        width: 70%;
        height: 45px;
        margin-left: 15%;
        margin-top: 5px;
    }

}


